/* 颜色输入框 */
.colorInput {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  cursor: pointer;
  padding: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorInput::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

.colorInput::-moz-color-swatch {
  border: none;
  border-radius: 4px;
}

.colorInput:hover {
  border-color: var(--primary-color);
}
