:root {
  --background: #ffffff;
  --foreground: #171717;
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  html:not(.light):not(.dark) {
    --background: #0a0a0a;
    --foreground: #ededed;
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
  height: 100%;
  overflow: hidden;
}

#__next {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
